# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# Mobile runners are not targeted by this project.

ios/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
